.product-modal{
    &__image{
        width: 327px;
        margin-bottom: 32px;
        @media only screen and (min-width: 768px){
            width: 68.9rem;
            height: 35.2rem;
            background-color: #F1F1F1;
            display: flex;
            justify-content: center;
            border-radius: 8px;
        }
        @media only screen and (min-width: 1024px){
            width: 41rem;
        }
        @media only screen and (min-width: 1440px){
            width: 54rem;
            height: 51rem;
        }
        img {
            border-radius: 8px;
            min-width: 100%;
            min-height: 100%;
        }
    }
    &__container {
        margin: 32px 0 60px 0;
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        @media only screen and (min-width: 1024px){
            flex-direction: row;
            margin: 16rem 6rem 6rem 6rem;
            justify-content: space-between;
        }
        @media only screen and (min-width: 1440px){
            margin: 16rem 16.5rem 6rem 16.5rem;
        }
        p:nth-of-type(1){
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 10px;
            text-transform: uppercase;
            color: #D87D4A;
        }
        p:nth-of-type(2){
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 24px 0;
            color: #000000;
            margin: 0 7rem;
            @media only screen and (min-width: 768px){
                font-size: 4rem;
                line-height: 4.4rem;
                margin: 0 24rem;
            }
            @media only screen and (min-width: 1024px){
                margin: 0;
                text-align: left;
            }

        }
        p:nth-of-type(3){
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #000000;
            opacity: 0.5;
            padding: 0 24px;
            @media only screen and (min-width: 768px){
                padding: 0 9.8rem;
            }
            @media only screen and (min-width: 1024px){
                padding: 0;
                text-align: left;
            }
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (min-width: 1024px){
            align-items: flex-start;
            width: 50%;
        }
        @media only screen and (min-width: 1440px){
            width: 40%;
        }
           
    }
}
