.option-product{
    &__container{
        display: flex;
        align-items: center;
        flex-direction: column;
        h1{
            padding-top: 32px;
        }
    }
    &__button{
        margin-top: 0;
    }
    &__image{
        margin: 4rem 0.6rem 0 0.6rem;
        border-radius: 0.8rem;
        img{
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.8rem;
        }
        @media only screen and (min-width: 768px){
            width: 22.3rem;
            height: 31.8rem;
            background-color: #F1F1F1;
        }
        @media only screen and (min-width: 1440px){
            width: 35rem;
            margin: 6.4rem 1rem 0 1rem;
        }
    }
}
