.option-product{
    &__container{
        display: flex;
        align-items: center;
        flex-direction: column;
        h1{
            padding-top: 32px;
        }
    }
    &__button{
        margin-top: 0;
    }
    &__image{
        margin-top: 40px;
    }
}
