$font: 'Manrope', sans-serif;
$black: #000000;
$white: #FFFFFF;
$light-gray: #F1F1F1;
$primary-orange: #D87D4A;

.display-mobile-only {
    display: none !important;
    @media only screen and (max-width: 991px) 
    {
        display: block!important;
    }

}

.display-desktop-only {
    display: block !important;
    @media only screen and (max-width: 991px)
    {
        display: none !important;
    }
}

.modal__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}
