.section-header {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 102px;
    font-weight: 700;
    @media only screen and (min-width: 768px){
        height: 24.7rem;
    }
}