.aboutus{
    &__image-container{
        background-image: url('../../../assets/shared/mobile/image-best-gear.jpg');
        background-color: #F1F1F1;
        border-radius: 8px;
        width: 327px;
        height: 300px;
        background-size: cover;
    }
    &__content{
        p:first-child {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 4rem 0 3.2rem 0;
            color: #000000;
            
            span{
                color: #D87D4A;
            }
        }
        p:nth-of-type(2) {
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #000000;
            opacity: 0.5;
            padding: 0 2.4rem;
        }
    }
}