@import '../../utilities/variables';

.header{
    &__container {
        width: 100%;
        background: linear-gradient( rgba(0, 0, 0),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) ), url('../../assets/home/mobile/image-header.svg');
        height: 50rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @media only screen and (min-width: 768px) {
            height: 70rem;
            background: url('../../assets/home/tablet/image-header.jpg');
            background-position: 0 -14rem;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50rem;
        @media only screen and (min-width: 768px){
            height: 70rem;
        }
        p{
            text-align: center;
            color: $white;
            margin: 0 2.4rem;
        }
        p:first-child{
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.9rem;
            letter-spacing: 1rem;
            text-transform: uppercase;
            opacity: 0.5;
        }
        p:nth-of-type(2) {
            font-style: normal;
            font-weight: 700;
            font-size: 3.6rem;
            line-height: 4rem;
            letter-spacing: 1.28571px;
            text-transform: uppercase;
            padding-top: 3.5rem;
            @media only screen and (min-width: 768px) {
                font-size: 5.6rem;
                line-height: 5.8rem;
            }
        }
        p:nth-of-type(3){
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 2.5rem;
            opacity: 0.75;
            padding-top: 2.4rem;
            @media only screen and (min-width: 768px) {
                margin: 0 21rem;
            }
        }
    }

}