@import '../../utilities/variables';

.modal{
    &__card{
        background-color: $light-gray;
        border-radius: 8px;
        height: 16.5rem;
        width: 32.7rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        @media only screen and (min-width: 1440px){
            width: 35rem;
            height: 20.4rem;
        }

        p {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 1.07143px;
            text-transform: uppercase;
            color: #000000;
            padding: 0 0 1.7rem 0;
            @media only screen and (min-width: 1440px){
                font-size: 1.8rem;
                line-height: 2.5rem;
                padding-bottom: 1.5rem;
            }
        }
        a {
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #5e5e5e;
            padding-top: 1.7rem;
            display: flex;
            @media only screen and (min-width: 1440px){
                padding-top: 0;
            }
        }
        a img {
            padding-left: 1rem;
            margin-top: 0.2rem;
            height: 13px;
        }
        &-container {
            height: 21.7rem;
            width: 32.7rem;
            display: flex;
            align-items: flex-end;
            margin-top: 1rem;
            @media only screen and (min-width: 768px){
                width: 22.3rem;
                margin-right: 1rem;
            }
            @media only screen and (min-width: 1024px){
                width: 31rem;
            }
            @media only screen and (min-width: 1440px){
                width: 35rem;
                margin: 4rem 1rem 0 1rem;
            }
        }
    }
    &__object-image {
        width: 14rem; 
        margin-top: -5rem;
        @media only screen and (min-width: 1440px){
            width: 19rem;
            height: 17rem;
        }
    }
}

