.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    @media only screen and (min-width: 768px){
        align-items: flex-start;
        padding: 0rem 4rem;
    }

    img {
        margin: 48px 0;
    }
    &__container{
        background-color: black;
    }
    &__bar{
        background-color: #D87D4A;
        height: 4px;
        width: 101px;

    }
    &__menu {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 2px;
        @media only screen and (min-width: 768px){
            flex-direction: row;
        }

        a{
            padding-bottom: 16px;
            @media only screen and (min-width: 768px){
                padding-right: 3.4rem;
            }
        }
    }
    &__description {
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.5;
        margin: 32px 24px 0 24px;
        @media only screen and (min-width: 768px){
            text-align: start;
            margin: 0;
            padding-top: 1.6rem;
        }
        
        p:first-child{
            margin-bottom: 48px;
        }

        p:nth-of-child(2){
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
    &__social-icons {
        display: flex;
        align-items: center;
        a{
            margin: 0 8px;
        }
    }
}
